.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-font-size-icon: 1.3rem;
    --search-button-width: 52px;
    --search-font-size-text: 1rem;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 10;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    a + a {
        margin-left: 5px;
    }

    button + button {
        margin-left: 5px;
    }

    .more-btn {
        font-size: 1.8rem;
        margin-left: 28px;
        background: #fff;
        padding: 2px 8px;
        &:hover {
            cursor: pointer;
        }
    }
}

.custom-login {
    cursor: pointer;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.user-avatar {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 17px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 999px;
}

.action-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: transparent;
    color: rgba(22, 24, 35, 0.8);
    padding: 4px 12px;

    .message {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 20px;
        width: 30px;
        background-color: rgb(218, 52, 52);
        font-size: 0.8rem;
        font-weight: 600;
        color: #fff;
        padding: 0px;
        top: -5px;
        right: -5px;
        border-radius: 15px;
    }

    &:hover {
        cursor: pointer;
    }
}
